/* Estilos globales */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #ccc;
}

section{
    text-align: center;
}

.container{
    width: 100%;
    display: inherit;
    max-width: 1400px;
    justify-content: inherit;
    margin: 0 auto;
    padding: 0 20px;
}

/* Estilos de la barra de navegación */

#nav{
    position: fixed;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    justify-content: space-around;
    height: 60px;
    width: 100%;
    z-index: 3;
}

.nav_logo{
    display: flex;
    align-items: center;
    padding: 3px;
}

.nav_title{
    font-size: 30px;
}

.nav_menu{
    display: none;
    align-items: center;
    font-size: 30px;
}

.nav_links{
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
}

.nav_link{
    padding-left: 25px;
}

.nav_link a {
    color: rgb(145, 137, 137);
    transition: all 300ms;
}

.nav_link a:hover{
    color: rgb(38, 38, 203);
}

/* Estilos de la sección home */

#home{
    min-height: 100vh;
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .8);
    position: relative;
}

.home_bg{
    background-image: url('./img/fondo.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.home_content{
    display: flex;
    width: 50%;
    justify-content: space-around;
    backdrop-filter: blur(5px);
    padding: 1% 1%;
    -webkit-backdrop-filter: blur(5px);
    border-radius: 20px;
}



.home_img{
    height: 250px;
    border-radius: 50%;
}

.home_title{
    font-size: 30px;
    margin-top: 46px;
}

.my_name{
    color: rgb(38, 38, 203);
}